@font-face{
    font-family: 'reef';
    src: url('../fonts/reef/reef.otf');
}
body{
    margin-top: 72px;
    width: 100%;
    background-color: rgba(26,46,71,0.95);
}
body, a, label{
    font-family: reef;
    color:white;
}
div, a, button, input, select, ul, li{
    outline: none;
}
a:hover{
    color:#d62613;
}
h4{
    color: white;
    font-size: 20px;
}
.header{
    display: flex;
    align-items: center;
    background-color: #1b2f48;
    border-bottom: 1px solid lightblue;
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}
.header_logo{
    color: white;
    font-size: 50px;
    font-weight: 100;
    display: inline-flex;
    padding: 0 10px;
}
.header_menu{
    list-style: none;
    padding: 20px;
    display: inline-flex;
    margin: 0;
}
.header_menu li{
    padding: 0 10px;
}
.header_menu li a{
    text-decoration: none;
    color: white;
    padding: 1px 8px;
    border-radius: 3px;
}
.header_menu li a:hover{
    color: #1b2f48;
    background-color: white;
}
.footer{
    display: flex;
    align-items: center;
    background-color: #1b2f48;
    border-top: 1px solid lightblue;
}
.year{
    padding: 0 10px;
}
.item_carousel{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50%;
    height: 500px;
    width: 100wh;
    background-color: rgba(0,0,0,0.1);
}
.owl-nav{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.owl-prev{
    left: 0;
    transform: rotate(-90deg);
    padding: 0px 7px 4px 5px !important;
}
.owl-next{   
    right: 0; 
    transform: rotate(90deg);
    padding: 0px 7px 4px 5px !important;
}
.owl-prev img{
    width: 30px;
    height: 15px;
}
.owl-next img{  
    width: 30px;
    height: 15px;  
}   
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    background-color: transparent !important;
}
.owl-prev:hover, .owl-next:hover{
    color: #1b2f48 !important;
    background-color: white !important;
}
.owl-dots{
    display: none;
}
.item_carousel1{
    background-image: url('../img/metarun/1.jpg');
}
.item_carousel2{
    background-image: url('../img/metarun/2.jpg');
}
.item_carousel3{
    background-image: url('../img/metarun/3.jpg');
}
#main{
    padding-bottom: 40px;
}
#items{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}
.shoes{
    display: inline-block;
    flex-direction: column;
    width: 310px;
    height: 320px;
    margin-bottom: 10px;
    padding: 20px 26px;
    text-align: center;
}
.shoes:hover{
    /*border: 3px solid #d62613;*/
    border-radius: 5px;
    background-color: rgba(161, 84, 84, 0.68);
}

.shoes img{
    display: none;
    width: 85%;
    max-height: 180px;   
    border-radius: 5px; 
    margin-bottom: 20px;
    height: 147px;
}
.shoes .active{
    display: inline-block;
}
.shoes .left, .shoes .right{
    display: inline-block;
    color: white;
}
.blocks{
    display: flex;
    height: 20px;
    justify-content: space-around;
    padding: 5px 0;
    margin-bottom: 10px;
}
.blocks span{
    width: 85px;
    height: 10px;
    background: white;
    border-radius: 3px;
}
.blocks .active, .blocks span:hover{
    background: #d62613;
}
.controls{
    display: flex;
    width: 60%;
    justify-content: space-around;
    padding: 17px 40px;
    margin-left: 20%;
    border: 3px solid #d62613;
    margin: 20px 20% 20px 20%;
    background-color: transparent;
}
.controls .left{
    border: none;
    background-color: transparent;
    color: white;
}
.controls .right{
    border: none;
    background-color: transparent;
    color: white;
}
#filterss{
    display: flex;
    justify-content: center;
}
#filters{
    display: flex;
    justify-content: center;
}
#filters div{
    display: flex;
}
#filterss a{
    padding: 0px 20px 35px 20px;
    font-size: 20px;
}
.strings{
    display: block;
}

.skidka_prew::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/metarun/icon_procent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: 221px;
    margin-top: -13px;
    position: absolute;
}
/*.skidka_prew:hover::before{
    margin-left: 210px;
}*/
.modal-content{
    background-color: #1b2f48;
}
#myModal .img{
    text-align: center;
}
.close{
    color: white;
    opacity: .8;
}
#brands{
    width: 200px;
    height: 30px;
    font-size: 20px;
    border: 2px solid;
    padding: 0px 10px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#brands ul{
    font-size: 14px;
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 1;
    display: none;
    width: 280px;
    border: 2px solid;
    margin-left: -12px;
    margin-top: 10px;
    flex-wrap: wrap;
}
#brands ul li{
    list-style: none;
    padding: 5px 10px;
    width: 135px;
}
#brands:focus ul{
    display: inline-flex;
    background-color: rgba(26,46,71,0.95);
}
#brands:before{
    content: '^';
    display: inline;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 160px;
    transform: rotate(-180deg);
    transition: 0.2s ease;
}
#brands:focus:before{
    margin-left: 168px;
    transform: rotate(0deg);
}
#brands ul li:before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #d62613;
    margin-right: 5px;
}
#brands ul .active:before{
   background: #d62613;
   padding: 2px;
}
#brands ul .button{
    width: 280px;
    border: none;
    background: none;
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid white;
}
#brands ul .button:before{
    display: none;
}
.articul, .razmers{
    font-size: 18px;
    color: lightgray;
    padding: 20px 0 10px 0;
}
.articul::before{
    content: 'артикул';
    display: inline-block;
    margin-right: 5px;
}
.razmers{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.razmers span{
    display: block;
    width: 170px;
}
.razmers span:hover{
    color: #d62613;
}
.description{

}
.shoe_detail .img img{
    width: 400px;
}
.msgC{
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.msg{
    padding: 10px 0;
    width: 300px;
    border-radius: 6px;
    opacity: .8;
    color: white;
    transition: 1s ease;
    text-align: center;
}
.controls .active{
    color: #d62613;
}
.search{
    height: 30px;
    background: transparent;
    border: 2px solid white;
    margin-left: 30px;
    font-size: 20px;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.search_btn{
    height: 30px;
    width:30px;
    border: 2px solid white;
    margin-top: -1px;
    background: transparent;
}
.search_btn:hover{
    background: white;
    color: rgba(26,46,71,0.95);
}
::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;}

.cart{
    position: fixed;
    right: 35px;
    top: 18px;
    font-size: 30px;
}
.cart:hover{
    opacity: .8;
}
.cart div{
    background: #d62613;
    border-radius: 60%;
    height: 23px;
    width: 23px;
    color: white;
    font-size: 15px;
    display: inline-flex;
    align-items: end;
    justify-content: center;
    line-height: 20px;
    position: absolute;
    margin-left: -11px;
    margin-top: -10px;
    font-family: reef;
}
.cart_item img{
    height: 100px;
}
.cart_item div .name_cart{
    display: block;
}
.cart_item div .articul_cart{
    display: block;
}
.cart_item div .articul_cart::before{
    content: 'артикул';
    display: inline-block;
    margin-right: 5px;
}
.cart_item div  .razmer_cart{
    display: block;
}
.cart_item div .razmer_cart::before{
    content: 'размер';
    display: inline-block;
    margin-right: 5px;
}
.cart_item div .count_cart::before{
    content: 'Количество: ';
    display: inline-block;
    margin-right: 5px;
}
.cart_item div .plus, .cart_item div .minus{
    background: none;
    border: 1px solid;
    border-radius: 60%;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    font-size: 20px;
}
.cart_item{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.cart_item div{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}
.cart_item div div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.cart_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.send_cart{
    background: transparent;
    border: 2px solid;
    border-radius: 5px;
    width: 200px;
    padding: 5px 0;
}
.send_cart:hover{
    background: white;
    color:#1b2f48;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #1b2f48;
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #1b2f48;
	background-color: #555;
}

@media screen and (max-width:768px){
    #brands ul{
        position: absolute;
        left: 33%;
        margin-top: 40px;
        width: 50%;
    }
    #filters{
        flex-direction: column;
        align-items: center;
    }
    .shoe_detail .img img {
        width: 270px;
    }
    .cart {
        position: fixed;
        right: 70px;
        top: 22px;
        font-size: 30px;
    }
    .controls{
        display: inline-flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    .controls a{
        padding: 0 3px;
    }
    #items{
        padding: 0;
    }
    .item_carousel{
        background-size: auto 100%;
    }
    .header_menu:before{
        display: inline-block;
        content: '';
        height: 50px;
        width: 40px;
        position: fixed;
        right: 10px;
        top: 10px;
        background-image: url('../img/metarun/menuBtn.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .header_menu{
        position: fixed;
        flex-direction: column;
        width: 100%;
        top: 70px;
        z-index: 2;
        background-color: #1b2f48;
        height: 0px;
        overflow: hidden;
        transition: 1s ease-in;
        padding: 0;
    }
    .header_menu_active{
        height: 170px;
    }
    .header_menu li{
        padding: 10px 10px;
    }
}