.wheel{
    position: fixed;
    top:0;
    left: -50vh;
    height: 100vh;
    width: 100vh;
    border:solid 1px black;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 1s linear;
    z-index: 1;
}
.wheel_dom{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 15vh;
    height: 15vh;
    border-radius: 60%;
    border: 1px solid black;
    float: right;
    background-color: white;
    z-index: 1;
    background-size:auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.wheel_dom:before{
    margin-top: -1vh;
}
.wheel_dom:after{
    margin-top: -16vh;
}
.wheel_dom:before, .wheel_dom:after{
    content:"";
    display: inline-block;
    width: 15vh;
    height: 15vh;
    border-radius: 60%;
    border: 1px solid black;
    
    z-index: -1;
    background-size:auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.wheel_dom1{  
    top: 0;
    margin-left: -15vh;
    background-image: url('../img/img0.png');
}
.wheel_dom1:before, .wheel_dom1:after{
    background-image: url('../img/img0.png');
}
.wheel_dom2{
    margin-left: 7vh;
    background-image: url('../img/img1.png');
}
.wheel_dom2:before, .wheel_dom2:after{
    background-image: url('../img/img1.png');
}
.wheel_dom3{
    bottom: 0;
    margin-left: -15vh;
    background-image: url('../img/img2.png');
}
.wheel_dom3:before, .wheel_dom3:after{
    background-image: url('../img/img2.png');
}
.image{
    position: absolute;
    display: none;
    transition: transform 1.2s, top 1s, left 1s;
    z-index: 0;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
}

