body{
    background: rgba(240,240,240,1);
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
}

.body{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100vw;
    top: 0;
    padding-top: 100px;
    padding-bottom: 50px;
}
.header{
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid rgba(180,180,180,1);
    padding: 0 80px;
}
.footer{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    border-top: 2px solid rgba(180,180,180,1);
    padding: 0 80px;

}
h3, h4{
    margin: 0;
}
