.map{
    position: fixed;
    top:0;
    left: 0;
    height: auto;
    width: 100%;
    image-rendering:optimizeSpeed;
    /*background-size: 100% auto;
    background-repeat: no-repeat;
    background-image:url(../img/map/0.png);
    */
    z-index: -1;
}
.mapDiv{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%; 
}