@font-face{
    font-family: 'reef';
    src: url('../fonts/reef/reef.otf');
}
body{
    margin-top: 72px;
    width: 100%;
    background-color: rgba(26,46,71,0.95);
}
body, a, label{
    font-family: reef;
    color:white;
}
a, button, input, select{
    outline: none;
}
a:hover{
    color:#d62613;
}
h4{
    color: white;
    font-size: 20px;
}
.header{
    display: flex;
    align-items: center;
    background-color: #1b2f48;
    border-bottom: 1px solid lightblue;
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}
.header_logo{
    color: white;
    font-size: 50px;
    font-weight: 100;
    display: inline-flex;
    padding: 0 10px;
}
.header_menu{
    list-style: none;
    padding: 20px;
    display: inline-flex;
    margin: 0;
}
.header_menu li{
    padding: 0 10px;
}
.header_menu li a{
    text-decoration: none;
    color: white;
    padding: 1px 8px;
    border-radius: 3px;
}
.header_menu li a:hover{
    color: #1b2f48;
    background-color: white;
}
.footer{
    display: flex;
    align-items: center;
    background-color: #1b2f48;
    border-top: 1px solid lightblue;
}
.year{
    padding: 0 10px;
}
.item_carousel{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50%;
    height: 500px;
    width: 100wh;
    background-color: rgba(0,0,0,0.1);
}
.owl-nav{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.owl-prev{
    left: 0;
    transform: rotate(-90deg);
    padding: 0px 7px 4px 5px !important;
}
.owl-next{   
    right: 0; 
    transform: rotate(90deg);
    padding: 0px 7px 4px 5px !important;
}
.owl-prev img{
    width: 30px;
    height: 15px;
}
.owl-next img{  
    width: 30px;
    height: 15px;  
}   
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    background-color: transparent !important;
}
.owl-prev:hover, .owl-next:hover{
    color: #1b2f48 !important;
    background-color: white !important;
}
.owl-dots{
    display: none;
}
.item_carousel1{
    background-image: url('../img/metarun/1.jpg');
}
.item_carousel2{
    background-image: url('../img/metarun/2.jpg');
}
.item_carousel3{
    background-image: url('../img/metarun/3.jpg');
}
#main{
    padding-bottom: 40px;
}
#items{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}
.shoes{
    display: inline-block;
    flex-direction: column;
    width: 310px;
    height: 320px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}
.shoes:hover{
    border: 3px solid #d62613;
}

.shoes img{
    display: none;
    width: 85%;
    max-height: 180px;    
}
.shoes .active{
    display: inline-block;
}
.shoes .left, .shoes .right{
    display: inline-block;
    color: white;
}
.blocks{
    display: flex;
    height: 20px;
    justify-content: space-around;
    padding: 5px 0;
    margin-bottom: 10px;
}
.blocks span{
    width: 56px;
    height: 10px;
    background: white;
}
.blocks .active, .blocks span:hover{
    background: #d62613;
}
.controls{
    display: flex;
    width: 60%;
    justify-content: space-around;
    padding: 17px 40px;
    margin-left: 20%;
    border: 3px solid #d62613;
    margin: 20px 20% 20px 20%;
    background-color: transparent;
}
.controls .left{
    border: none;
    background-color: transparent;
    color: white;
}
.controls .right{
    border: none;
    background-color: transparent;
    color: white;
}
#filters{
    display: flex;
    justify-content: center;
}
#filters a{
    padding: 0px 20px 35px 20px;
    font-size: 20px;
}
.strings{
    display: block;
}

.skidka_prew::before{
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/metarun/icon_procent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    margin-left: 216px;
}
.skidka_prew:hover::before{
    margin-left: 210px;
}
.modal-content{
    background-color: #1b2f48;
}
#myModal .img{
    text-align: center;
}
.close{
    color: white;
    opacity: .8;
}
@media screen and (max-width:768px){
    .controls{
        display: inline-flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    .controls a{
        padding: 0 3px;
    }
    #items{
        padding: 0;
    }
    .item_carousel{
        background-size: auto 100%;
    }
    .header_menu:before{
        display: inline-block;
        content: '';
        height: 50px;
        width: 40px;
        position: fixed;
        right: 10px;
        top: 10px;
        background-image: url('../img/metarun/menuBtn.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .header_menu{
        position: fixed;
        flex-direction: column;
        width: 100%;
        top: 70px;
        z-index: 2;
        background-color: #1b2f48;
        height: 0px;
        overflow: hidden;
        transition: 1s ease-in;
        padding: 0;
    }
    .header_menu_active{
        height: 170px;
    }
    .header_menu li{
        padding: 10px 10px;
    }
}