<video id="video" class="ytplayer hidden_type">   
</video>  

<!--Колесо - походу надо использовать для всех страниц, изменяя просто контент в колесе-->

<!--Использование-->
<!--Колесо-->

        <!--Шарики на колесе-->
        <!--API (описание параметров)-->
        <!--back (урл к картинке)-->
        <!--deg (угол)-->

            <!--Картинки которые вылетают из шарика-->
            <!--API (описание параметров)-->
            <!--lastHeight (Высота которую примет пикча после анимации)-->
            <!--lastWidth  (Ширина которую примет пикча после анимации (теперь не используется))-->
            <!--lastLeft  (Офсет слева который примет пикча после анимации)-->
            <!--lastTop  (Офсет сверху который примет пикча после анимации)-->
            <!--rotate  (Поворот который примет пикча после анимации)-->

<div class="wheel_body hidden_type">
    <button class="exit">x</button>
    
    <div class="wheel">

    </div>
</div>