<div back="url('img/rzhdsost.png')" class="wheel_dom">
    <img lastHeight=200 lastWidth=300 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/rzhdGerst.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=100 lastWidth=200 lastLeft=250 lastTop=200 rotate=20 class="image" src="img/rzhdKonstantinThon1820.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=150 lastWidth=400 lastLeft=500 lastTop=150 rotate=-20 class="image" src="img/rzhdNik1.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastWidth=500 lastLeft=800 lastTop=-30 rotate=-20 class="image" src="img/rzhdUist.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=350 lastWidth=400 lastLeft=800 lastTop=200 rotate=20 class="image" src="img/rzhdBobr.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdport1.png')" class="wheel_dom">
    <img lastHeight=200 lastWidth=300 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/rzhdGerst.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=100 lastWidth=200 lastLeft=250 lastTop=200 rotate=20 class="image" src="img/rzhdKonstantinThon1820.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=150 lastWidth=400 lastLeft=500 lastTop=150 rotate=-20 class="image" src="img/rzhdNik1.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastWidth=500 lastLeft=800 lastTop=-30 rotate=-20 class="image" src="img/rzhdUist.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=350 lastWidth=400 lastLeft=800 lastTop=200 rotate=20 class="image" src="img/rzhdBobr.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdport2.png')"  class="wheel_dom">
    <img lastHeight=200 lastWidth=300 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/rzhdGerst.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=100 lastWidth=200 lastLeft=250 lastTop=200 rotate=20 class="image" src="img/rzhdKonstantinThon1820.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=150 lastWidth=400 lastLeft=500 lastTop=150 rotate=-20 class="image" src="img/rzhdNik1.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastWidth=500 lastLeft=800 lastTop=-30 rotate=-20 class="image" src="img/rzhdUist.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=350 lastWidth=400 lastLeft=800 lastTop=200 rotate=20 class="image" src="img/rzhdBobr.jpg" card="img/rzhdCars.png"/>
</div>