<div back="url('img/rzhdsost.png')" class="wheel_dom">  
    <img lastHeight=300 lastLeft=550 lastTop=-30 rotate=20 class="image" src="img/fly/1.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdport1.png')" class="wheel_dom">
    <img lastHeight=350 lastLeft=670 lastTop=-65 rotate=5 class="image" src="img/fly/2.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=250 lastLeft=300 lastTop=60 rotate=-15 class="image" src="img/fly/3.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdport1.png')" class="wheel_dom">
    <img lastHeight=300 lastLeft=670 lastTop=-50 rotate=5 class="image" src="img/fly/1.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=300 lastTop=45 rotate=-15 class="image" src="img/fly/2.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=570 lastTop=200 rotate=0 class="image" src="img/fly/3.jpg" card="img/rzhdCars.png"/>
</div>
