<div back="url('img/rzhdsost.png')" class="wheel_dom">
    <img lastHeight=200 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/fly/1.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=100 lastLeft=250 lastTop=200 rotate=20 class="image" src="img/fly/2.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=150 lastLeft=500 lastTop=150 rotate=-20 class="image" src="img/fly/3.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastLeft=800 lastTop=-30 rotate=-20 class="image" src="img/fly/4.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastLeft=800 lastTop=-30 rotate=-20 class="image" src="img/fly/5.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=250 lastLeft=970 lastTop=-100 rotate=80 class="image" src="img/fly/6.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=350 lastLeft=470 lastTop=-200 rotate=20 class="image" src="img/fly/7.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=350 lastLeft=800 lastTop=200 rotate=20 class="image" src="img/fly/8.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdsost.png')" class="wheel_dom">
    <img lastHeight=200 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/fly/9.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=240 lastLeft=710 lastTop=-30 rotate=-20 class="image" src="img/fly/10.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=210 lastLeft=460 lastTop=-80 rotate=10 class="image" src="img/fly/11.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=260 lastLeft=320 lastTop=80 rotate=-8 class="image" src="img/fly/12.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastLeft=950 lastTop=-75 rotate=40 class="image" src="img/fly/13.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=800 lastTop=-210 rotate=-145 class="image" src="img/fly/14.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=420 lastTop=-30 rotate=20 class="image" src="img/fly/15.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=850 lastTop=130 rotate=20 class="image" src="img/fly/16.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=50 lastTop=-145 rotate=-20 class="image" src="img/fly/17.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdsost.png')" class="wheel_dom">
    <img lastHeight=200 lastLeft=950 lastTop=-30 rotate=20 class="image" src="img/fly/18.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=665 lastTop=-115 rotate=-40 class="image" src="img/fly/19.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=650 lastTop=50 rotate=-20 class="image" src="img/fly/20.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=450 lastTop=-130 rotate=20 class="image" src="img/fly/1.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=450 lastTop=120 rotate=20 class="image" src="img/fly/2.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=250 lastTop=-190 rotate=-20 class="image" src="img/fly/3.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=180 lastTop=90 rotate=170 class="image" src="img/fly/4.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=850 lastTop=100 rotate=20 class="image" src="img/fly/5.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/fly/6.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=950 lastTop=-200 rotate=5 class="image" src="img/fly/7.jpg" card="img/rzhdCars.png"/>
</div>


