<div back="url('img/rzhdsost.png')" class="wheel_dom">
    <img lastHeight=200 lastWidth=300 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/rzhdGerst.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdport1.png')" class="wheel_dom">
    <img lastHeight=200 lastWidth=300 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/rzhdGerst.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=100 lastWidth=200 lastLeft=250 lastTop=200 rotate=20 class="image" src="img/rzhdKonstantinThon1820.jpg" card="img/rzhdCars.png"/>

</div>

