<div back="url('img/rzhdport1.png')" class="wheel_dom">
    <img lastHeight=350 lastLeft=300 lastTop=-200 rotate=20 class="image" src="img/picFly/23.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/picFly/21.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=235 lastLeft=325 lastTop=100 rotate=20 class="image" src="img/picFly/24.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=150 lastLeft=500 lastTop=150 rotate=-20 class="image" src="img/picFly/22.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastLeft=800 lastTop=-30 rotate=-20 class="image" src="img/picFly/25.jpg" card="img/rzhdCars.png"/>
    
</div>
<div back="url('img/rzhdsost.png')" class="wheel_dom">
    <img lastHeight=200 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/picFly/38.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=100 lastLeft=250 lastTop=200 rotate=20 class="image" src="img/picFly/39.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=150 lastLeft=500 lastTop=150 rotate=-20 class="image" src="img/picFly/40.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=300 lastLeft=800 lastTop=-30 rotate=-20 class="image" src="img/picFly/41.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=250 lastLeft=970 lastTop=-100 rotate=80 class="image" src="img/picFly/42.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=350 lastLeft=470 lastTop=-200 rotate=20 class="image" src="img/picFly/26.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=350 lastLeft=800 lastTop=200 rotate=20 class="image" src="img/picFly/8.jpg" card="img/rzhdCars.png"/>
</div>
<div back="url('img/rzhdport2.png')" class="wheel_dom">
    <img lastHeight=200 lastLeft=950 lastTop=-30 rotate=20 class="image" src="img/picFly/18.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=665 lastTop=-115 rotate=-40 class="image" src="img/picFly/19.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=650 lastTop=50 rotate=-20 class="image" src="img/picFly/20.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=450 lastTop=-130 rotate=20 class="image" src="img/picFly/1.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=450 lastTop=120 rotate=20 class="image" src="img/picFly/2.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=250 lastTop=-190 rotate=-20 class="image" src="img/picFly/3.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=180 lastTop=90 rotate=170 class="image" src="img/picFly/4.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=850 lastTop=100 rotate=20 class="image" src="img/picFly/5.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=250 lastTop=-30 rotate=20 class="image" src="img/picFly/6.jpg" card="img/rzhdCars.png"/>
    <img lastHeight=200 lastLeft=950 lastTop=-200 rotate=5 class="image" src="img/picFly/7.jpg" card="img/rzhdCars.png"/>
</div>


